<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Title</title>
</head>
<body>

<div class="row" style="margin-top: 50px; margin-left: 15%">
    <div class="col s6">
        <div class="collection">
            <div class="collection-item" th:each="person: ${persons}" style="cursor: pointer">
                <div class="row">
                    <div class="col s6">
                        <p th:text="${person.age}"></p>
                    </div>
                    <div class="col s3">
                        <a th:href="'edit/' + ${person.age}">Edit</a>
                    </div>
                    <div class="col s3">
                        <a th:href="'del/' + ${person.age}">remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
