<h2>My Heroes</h2>

<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label for="hero-input">Hero name</label>
    <input id="hero-input" formControlName="name">


    <button type="submit">add</button>
    <button type="reset">cancel</button>

    <div *ngIf="form.invalid">
      <p *ngIf="form.controls['name'].hasError('maxlength') && submitted">maxlength</p>
      <p *ngIf="form.controls['name'].hasError('minlength') && submitted" >minlength</p>
      <p *ngIf="form.controls['name'].hasError('required') && submitted">required</p>
    </div>

  </form>
</div>

<ul class="heroes">
  <li [class.selected]="selectedHero === hero"
      *ngFor="let hero of heroes">

    <a (click)="onSelectHero( hero.id)">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>

    <button class="delete" title="delete hero"
            (click)="delete(hero)">x
    </button>
  </li>
</ul>
